.carousel-button {
    background-color: orange !important;
    color: black !important;
    margin-top: 3%;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.carousel-button:hover {
    background-color: darkorange !important;
    color: white !important;
}
