.btn-custom {
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
}

.btn-custom:hover {
    background-color: darkorange; /* Color on hover */
    color: white;
}
.navbar-nav .nav-link {
    color: black !important;
}
/* Show dropdown menu when hovered */
.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Show dropdown menu */
}

/* Hide dropdown menu by default */
.dropdown-menu {
    display: none;
}

.color-fondo{
    background-color: rgb(238, 238, 235);
}
